@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', sans-serif;
}

#wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.icon {
  color: #252525;
  width: 3rem;
  height: 3rem;
  margin: 0.5rem;
  transition: 1s;
  user-select: none;
  cursor: default;
  transform: rotate(-30deg);
}

.icon:hover {
  transition: 0s;
  color: #0f0;
  text-shadow: 0 0 120px #0f0;
}

.content {
  font-size: 26px;
  font-weight: 400;
  position: relative;
  z-index: 100;
  flex-direction: column;
  overflow: hidden;
  padding: 1rem 5rem;
}

/* NAVBAR */
/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
}
.navbarItems {
  display: flex;
  padding-top: 1rem;
}
#logo {
  width: 4rem;
  height: auto;
}
.navbar .navbarLinksPage {
  display: flex;
  list-style: none;
}
.navbar .navbarLinksPage li {
  color: rgba(255, 255, 255, 0.545);
  height: 1.5rem;
  margin: 0 0.8rem;
  font-size: 1.1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 2px solid #252525;
  border-radius: 10px;
}
.navbar .navbarLinksPage li:hover {
  color: #0f0;
  border: 2px solid #0f0;
  text-shadow: 0 0 120px #0f0;
  transform: scale(105%);
}
.navbarItemActive {
  color: #0f0 !important;
  border: 2px solid #0f0 !important;
  text-shadow: 0 0 120px #0f0;
  transform: scale(105%);
}
.socialsDiv {
  margin: 0 1.4rem 0 1rem;
}
.navbarSocialLinks {
  display: flex;
  list-style: none;
}
.navbarSocialLinks li {
  color: rgba(255, 255, 255, 0.545);
  margin: 1rem 0.3rem;
  cursor: pointer;
}
.socialIcons {
  width: 30px;
  height: 30px;
}
.socialIcons:hover{
  color: #0f0;
  text-shadow: 0 0 120px #0f0;
  transform: scale(105%);
}
.btnPrimary{
  background-color: #0f0;
  color: #222222;;
  border: none;
  border-radius: 10px;
  height: 3.2rem;
  padding: 0 1.3rem;
  font-size: 1.2rem;
  font-weight: 600;
}


/* HERO PAGE */
/* HERO PAGE */
.heroContainer{
  margin: 4rem 2rem 7.5rem 3rem;
}
.heroImage {
  width: 30rem;
  float: right;
  overflow: auto;
  background-color: rgba(0, 255, 0, 0.294);
  border-radius: 90% 90% 90% 10%;
  margin: 0 0 0 4rem;
}
.heroNameImage {
  width: 12rem;
  margin: 0;
  padding: 0;
}
.heroInfo {
  padding-top: 3rem;
  color: rgba(255, 255, 255, 0.545);
}
.heroInfo h6 {
  background-color: rgba(0, 255, 0, 0.112);
  width: 14.5rem;
  padding: 1rem;
  border: 2px solid #0f0;
  border-radius: 4px;
  text-align: center;
  font-size: 1rem;
}
.heroInfo h1 {
  font-size: 3rem;
  margin: 1rem 0 2rem 0;
}
.heroInfo p {
  font-size: 1.2rem;
  margin-bottom: 1.6rem;
}
.heroInfo a {
  color: rgba(0, 255, 0, 0.572);
  font-size: 1.3rem;
  text-decoration: none;
  position: relative;
}
.heroInfo a:hover {
  color: #0f0;
  text-shadow: 0 0 20px #0f0;
  transform: scale(105%);
}


/* SKILLS PART */
/* SKILLS PART */
.skillsContainer {
  background-color: #222222;
  width: 85%;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 50px;
  text-align: center;
  padding: 1rem 2rem 4rem 2rem;
}
.skillsContainer h1 {
  color: gainsboro;
  font-size: 3rem;
  padding: 1rem 0 1rem 0;
}
.skillsContainer p {
  color: rgba(255, 255, 255, 0.545);
  margin-bottom: 2rem;
  font-size: 1.2rem;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.icons-skills {
  width: 4rem;
  height: 4rem;
  user-select: none;
  cursor: default;
}
.skillsIconContainer{
  background-color: #252525;
  margin: 1rem;
  padding: 1.5rem 1rem;
  width: 5rem;
  border-radius: 20px;
  transition: 1s;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.skillsIconContainer h5 {
  color: rgba(255, 255, 255, 0.545);
  font-weight: 400;
  font-size: 1rem;
}
.skillsIconContainer:hover{
  transition: 0s;
  box-shadow: 0 0 20px #0f0;
}
.skillsContainer hr {
  margin: 3rem 0;
}


/* PROJECTS PAGE */
/* PROJECTS PAGE */

.projectHeaderText {
  color: gainsboro;
  text-align: center;
  font-size: 3rem;
  padding-top: 3rem;
}
.projectHeaderInfo{
  color: rgba(255, 255, 255, 0.545);
  text-align: center;
  padding: 1rem 6rem;
  font-size: 1.2rem;
}
.right-image-projects {
  overflow: auto;
  margin: 3rem 0 4rem 0;
  padding: 2rem;
  color: rgba(255, 255, 255, 0.545);
  position: relative;
}
.projectImage {
  width: 47%;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 1s;
  margin: 1rem;
}
.projectImage:hover {
  transition: 0s;
  box-shadow: 0 0 20px #0f0;
}
.right-image-projects .projectImage {
  float: right;
  overflow: auto;
}
.left-image-projects {
  overflow: auto;
  color: rgba(255, 255, 255, 0.545);
  padding: 2rem;
}
.left-image-projects .projectImage {
  float: left;
  overflow: auto;
}
.left-image-projects .projectSingleContainer {
  text-align: right;
}
.projectHeader{
  display: flex;
  position: relative;
}
.right-image-projects .projectLinkDiv {
  position: absolute;
  right: 3rem;
  bottom: 0;
  transform: translateY(-80%);
}
.left-image-projects .projectLinkDiv {
  position: absolute;
  left: 3rem;
  bottom: 0;
  transform: translateY(-80%);
}
.left-image-projects .projectTitle {
  margin-left: 35%;
}
.pojectLinkIcons {
  padding: 0 1rem;
}
.projectMoreInfo{
  text-decoration: none;
  font-size: 1.3rem;
  color: rgba(0, 255, 0, 0.572);
}
.projectMoreInfo:hover {
  color: #0f0;
  text-shadow: 0 0 20px #0f0;
  transform: scale(105%);
}
.right-image-projects .projectMoreInfo {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
}
.projectTitle{
  font-size: 2rem;
  font-weight: 700;
  margin: 0 0 2rem 0;
  color: #15ff0089;
}
.projectInfo p {
  font-size: 1.2rem;
}






.background {
  color: #999999;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  background-color: #222222;
}